###########################################
###########################################
##
##   Created by: Jacob Koenemann
##   email: bxy3zr@virginia.edu
##
##   Last Modified April 29, 2025
##
##   This config file contains information
##   essential for doing analysis and
##   trimming the raw data.
##
###########################################
###########################################

# kine info
config GEN2
target H2
ebeam 4.291
hcal_angle 34.7
hcal_distance 17.0
# cut info
global_cut abs(bb.tr.vz[0])<0.27&&bb.sh.e>0&&bb.ps.e>0&&sbs.hcal.e>0&&abs(bb.ps.atimeblk-bb.sh.atimeblk)<10&&abs(sbs.hcal.atimeblk-bb.sh.atimeblk)<30&&abs(sbs.hcal.atimeblk-bb.ps.atimeblk)<30
goode_cut bb.ps.e>0.2&&abs(bb.etot_over_p[0]-1.)<0.3&&bb.grinch_tdc
sigma_dx 0.0
sigma_dy 0.0
# file info
input_dir /volatile/halla/sbs/sbs-gen/GEN_REPLAYS/pass3/GEN2/H2/SBSOFF/rootfiles/
output_dir /work/halla/sbs/koeneman/GEnII/outdir/trimmed/pass3/
output_filename trimmed_GEN2_H2_SBS100_pass3_SBSON.root


