# variabel format is <var> <val>
# NOTE: MUST have a space between <var> and <val>

# kine info
config GEN2
target He3
ebeam 4.291
sbs_config SBSOFF
pass pass3
hcal_angle 34.7
hcal_distance 17.0

# cut info
global_cut abs(bb.tr.vz[0])<0.27&&bb.sh.e>0&&bb.ps.e>0&&sbs.hcal.e>0&&abs(bb.ps.atimeblk-bb.sh.atimeblk)<10&&abs(sbs.hcal.atimeblk-bb.sh.atimeblk)<30&&abs(sbs.hcal.atimeblk-bb.ps.atimeblk)<30
goode_cut bb.ps.e>0.2&&abs(bb.etot_over_p[0]-1.)<0.25&&abs(bb.ps.atimeblk-bb.hodotdc.clus.tfinal[0])<5&&abs(bb.sh.atimeblk-bb.hodotdc.clus.tfinal[0])<5&&e.kine.W2<2.0
sigma_dx 0.0
sigma_dy 0.0
goodn_cut abs(sbs.hcal.atimeblk-bb.sh.atimeblk)<5&&abs(sbs.hcal.atimeblk-bb.ps.atimeblk)<5&&abs(sbs.hcal.atimeblk-bb.hodotdc.clus.tfinal[0])<5&&sbs.hcal.e>0.02 

# file info
input_dir /volatile/halla/sbs/sbs-gen/GEN_REPLAYS/pass3/GEN2/He3/SBSOFF/rootfiles/
output_dir /work/halla/sbs/koeneman/GEnII/outdir/data-rootfiles/pass3/
output_filename trimmed_GEN2_He3_pass3_SBSOFF.root
