# format is <var> <val>
# NOTE: MUST have a space between <var> and <val>
config GEN3
target He3
ebeam 6.373
hcal_angle 21.6
hcal_distance 17.0
#for trimming script
input_dir /volatile/halla/sbs/sbs-gen/GEN_REPLAYS/pass3/GEN3/He3/SBSOFF/rootfiles/
output_dir /work/halla/sbs/koeneman/GEnII/outdir/trimmed/pass3/
output_filename trimmed_GEN3_He3_pass3_SBSOFF.root
