# format is <var> <val>
# NOTE: MUST have a space between <var> and <val>
config GEN4b
target He3
pass 3
ebeam 8.448
hcal_angle 18.0
hcal_distance 17.0
#for trimming script
input_dir /volatile/halla/sbs/sbs-gen/GEN_REPLAYS/pass3/GEN4b/He3/SBSOFF/rootfiles/
