# format is <var> <val>
# NOTE: MUST have a space between <var> and <val>
config GEN4
target He3
ebeam 8.448
hcal_angle 18.0
hcal_distance 17.0

#for trimming script
input_dir /volatile/halla/sbs/sbs-gen/GEN_REPLAYS/pass3/GEN4/He3/SBSOFF/rootfiles/
output_dir /work/halla/sbs/koeneman/GEnII/outdir/trimmed/pass3/
output_filename trimmed_GEN4_He3_pass3_SBSOFF.root


